{% load staticfiles %}
{% load static %}

<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Satrio's Website</title>

	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
      </script>
      <script>
          $(document).ready(function(){
            $("#ganti").click(function(){
                $("body").css({"background-color": "red"});
                });
                });
      </script>
      <script>
          $(document).ready(function(){
            $("#balik").click(function(){
                $("body").css({"background-color": "#E6EBE0"});
                });
                });
      </script>
      <!--<script src="{% static "js/js.js" %}"></script>-->
      <script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>


  </head>
	<style>
body {
    background-color: #E6EBE0
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>

  <body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <section class="hero">
      <div class="hero-body" id="myDiv" class="animate-bottom">
          <div class="container">
              <img src="{% static "images/gambarcover.png" %}" alt="cover" style="width:1235px;height:315px;left:117px;"top: 32px;>
              <nav class="tabs is-boxed is-fullwidth">
                  <div class="container">
                      <ul>
                          <li>
                              <a href="/homepage/" class="button is-primary"><strong>Home</strong></a>
                          </li>
                          <li>
                              <a href="/resumePage/" class="button is-primary"><strong>Resume</strong></a>
                          </li>
                          <li>
                              <a href="/subs/" class="button is-primary"><strong>subscribe</strong></a>
                          </li>
                          <li>
                              <a href="#" class="button is-primary"><strong>Contact</strong></a>
                          </li>
                          <li>
                              <a href="/guestPage/" class="button is-primary"><strong>Guest</strong></a>
                          </li>
                      </ul>
                  </div>
              </nav>
	{% block head %}
    {% endblock %}
	{% block body%}
    {% endblock %}
          </div>
      </div>
  </section>
  </body>
</html>
