{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
		<div class="hero-body">
		<div class="container">
      <h1 class="title">
        Guest book
      </h1>
      <h2 class="subtitle">
        Fill out the form
      </h2>
	  <form>
	  <input type="date" name="Date" max="3000-12-31"><br>
	  </form>
	  
<div class="field">
  <div class="control">
    <input class="input is-info" type="text" placeholder="Name">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-success" type="text" placeholder="Subject">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-warning" type="email" placeholder="Email">
  </div>
</div>
<div class="field">
  <div class="control">
    <textarea class="textarea is-danger" type="text" placeholder="Message"></textarea>
  </div>
</div>
	  
	  
    </div>
{% endblock %}