{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
	<div class="columns">
		<div class="column is-one-third">
			<img src="{% static "images/prof.jpg" %}" alt="pfp" style="width:300px;height: 395px;left: calc(50% - 395px/2 - 410.5px);"top: 604px;>
		</div>
		<div class="column">
			<div class="box">
			<article class="media">
			<div class="media-content">
			<div class="content">
			<h1 class="title is-1 is-spaced is-centered"><strong>Thanks for coming</strong></h1>
				<p class="subtitle is-3">
				<br>
				This is my simple and humble website.<br>In here you can find almost anything and everything you need to know about me.<br>Have a nice day<br> -Satrio Raffani Raharjo
				</p>
                <button id="ganti"><strong>Change Theme BOI</strong></button>
				<button id="balik"><strong>Change Back BOI</strong></button>
				<div id="accordion">
					<h3>Pengalaman</h3>
					<div>
						<p>
                            Internship
						</p>
                        <ul>
							<li>Accenture (support data organizer)</li>
							<li>Trekindo (support time organizer)</li>
                            <li>Perusahaan Listrik Negara (support data organizer)</li>
						</ul>
					</div>
					<h3>Organisasi/Kepanitiaan</h3>
					<div>
                        <p>
                            tfw i suck so bad jadi mager oof
                        </p>
						<ul>
							<li>DPK SMANU.MHT</li>
							<li>Perlengkapan Pemira</li>
						</ul>
					</div>
					<h3>Prestasi</h3>
					<div>
						<ul>
							<li>ICAS Silver Math Medalist (2014)</li>
							<li>ICAS Bronze Math Medalist (2015)</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
                 </article>
			</div>
            </div>
    </div>
{% endblock %}