{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
	<div class="columns">	
		<div class="column is-one-third">
			<div class="box">
			<article class="media">
			<div class="media-content">
			<div class="content">
			<h1 class="title is-2 is spaced"><strong>Education history</strong></h1>
				<p class="subtitle is-5">
				<br>
				-Curug 2 Elementary School<br><br>-49 Junior High <br><br>-M.H Thamrin Senior Highschool<br><br>-Information system at
university of indonesia
				</p>
			</div>
			</div>
			</div>	
			</article>
		</div>
		<div class="column is-one-third">
			<img src="{% static "images/prof.jpg" %}" alt="pfp" style="width:300px;height: 395px;left: calc(50% - 395px/2 - 410.5px);"top: 604px;>
		</div>
		<div class="column is-one-third">
			<div class="box">
			<article class="media">
			<div class="media-content">
			<div class="content">
			<h1 class="title is-2 is spaced"><strong>Work History</strong></h1><br>
			<h1 class="title is-3"><strong>Internship</strong></h1>
			
				<p class="subtitle is-5">
				<br>
				-Accenture<br><br>-Perusahaan Listrik Negara<br><br>-Trekindo
				</p>
			</div>
			</div>
			</div>	
			</article>
{% endblock %}