{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="wrapper_subscribe">
    <div id="form_wrapper">
        <i class="fas fa-paper-plane"></i>
        <h1>Subscribe to Arnastria Web</h1>
        <form id="form_schedule" method="POST">
            {% csrf_token %}
            {{Form.as_p}}
        <button id="button_subscribe" type = "submit" class = "btn btn-primary" disabled>Subscribe me</button>
        </form>
    </div>
</div>
<!-- Bootstrap Modal -->
<div class="modal fade" id="ModalEmail" tabindex="-1" role="dialog" aria-labelledby="ModalEmail" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalEmailTitle">Ooof !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This Email has been registered, please user another email.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
{% endblock content %}

